@media (max-width: 1150px) {
	.container {
		padding: 0 15px;
	}
	.trend__text > h1 {
		font-size: 70px;
	}
	/* .trend {
		.trend__text {
			h1 {
				font-size: 70px;
			}
		}
	} */
}
@media (max-width: 1000px) {
	body.lock {
		overflow: hidden;
	}
}